<footer class="site-footer">
  <div class="row">
    <div class="footer-wrapper">
      <div class="footer-col-social col-4 col-s-3">
        {% include social.html %}
      </div>
      <div class="footer-col-badges col-4 col-s-7">
        {% include badges.html %}
      </div>
      <div class="footer-col-copyright col-10 col-s-10 tiny-footer">
        <p>Content <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">CC BY 4.0</a> · Code <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> · <a href="{{ "/credits" | prepend: site.baseurl | replace: '//', '/' }}">Credits</a></p>
        <p>© {{ 'now' | date: "%Y" }} <strong>{{ site.owner }}</strong></p>
      </div>
    </div>
  </div>
</footer>