---
layout: default
title: "Into the Cyber Rabbit Hole"
image: /assets/ninja_big.png
---

<ul>
    {% for post in paginator.posts %}
      <li>
        <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="post-title-cyberglow">{{ post.title }}</a></h2>
        <div class="postitem">
          {% for cat in post.categories %}
            <a href="/{{ cat | xml_escape | downcase }}/" class="no-decoration"><code class="language-plaintext highlighter-rouge-tag">{{ cat | xml_escape }}</code></a>
          {% endfor %}
          {% for tag in post.tags %}
            <code class="posttag"><a href="/tags/#{{ tag | replace: " " , "-" | downcase }}" class="no-decoration neutral-color">{{ tag | xml_escape }}</a></code>
          {% endfor %}
        </div>
        <span class="icon">{% include icon-calendar.svg attr='aria-hidden="true" focusable="false"' %}</span>
        <time datetime="{{ post.date | date_to_xmlschema }}"><strong>Published: </strong>{{ post.date | date_to_string }}</time>
        {% if post.updated %}<time datetime="{{ post.updated | date_to_xmlschema }}" class="by-line">&nbsp;&nbsp;<strong>Updated: </strong>{{ post.updated | date_to_string }}</time>{% endif %}
        {% if post.image %}
          {% if forloop.first %}
            <p>
              {% smart_image "{{ post.image }}" "{{ post.image_width }}" "{{ post.image_height }}" "{{ post.image_alt }}" eager high %}
            </p>
          {% else %}
            <p>
              {% smart_image "{{ post.image }}" "{{ post.image_width }}" "{{ post.image_height }}" "{{ post.image_alt }}" lazy "" avif async %}
            </p>
          {% endif %}
        {% endif %}
        <p>{{ post.content | 
          replace_first: 'rel="footnote">1</a>' , 'rel="footnote"></a>' |
          replace_first: 'rel="footnote">2</a>' , 'rel="footnote"></a>' |
          replace_first: 'rel="footnote">3</a>' , 'rel="footnote"></a>' |
          replace_first: 'rel="footnote">4</a>' , 'rel="footnote"></a>' |
          replace_first: 'rel="footnote">5</a>' , 'rel="footnote"></a>' |
          strip_html | truncatewords:50 }}</p>
        <!--{% for cat in post.categories %}
        <code class="language-plaintext highlighter-rouge-tag">{{ cat | xml_escape }}</code>
        {% endfor %}-->
        <br>
      </li>
    {% endfor %}
</ul>
