<ul>
  {% if site.badges.hackthebox %}
    <li class="social-media-list">
      {% if site.badges.selfhost_hackthebox %}
        <!-- local HTB badge -->
        <a title="Hack The Box Profile" href="https://app.hackthebox.com/profile/{{ site.badges.hackthebox }}">
          {% smart_image "/assets/{{ site.badges.hackthebox }}.png" 220 50 "My Hack The Box profile badge" lazy "" avif async "no-responsive" %}
        </a>
      {% else %}
        <!-- upstream HTB badge -->
        <a title="Hack The Box Profile" href="https://app.hackthebox.com/profile/{{ site.badges.hackthebox }}">
          <img src="https://www.hackthebox.eu/badge/image/{{ site.badges.hackthebox }}" width="220" height="50" loading="lazy" decoding="async" alt="My Hack The Box profile badge" class="no-responsive">
        </a>
      {% endif %}
    </li>
  {% endif %}

  {% if site.badges.tryhackme %}
    <li class="social-media-list">
      {% if site.badges.selfhost_tryhackme %}
        <!-- local TryHackMe badge -->
        <a title="TryHackMe Profile" href="https://tryhackme.com/p/{{ site.badges.tryhackme }}">
          {% smart_image "/assets/{{ site.badges.tryhackme }}.png" 329 88 "My TryHackMe profile badge" lazy "" avif async "no-responsive" %}
        </a>
      {% else %}
        <!-- upstream TryHackMe badge -->
        <a title="TryHackMe Profile" href="https://tryhackme.com/p/{{ site.badges.tryhackme }}">
          <img src="https://tryhackme-badges.s3.amazonaws.com/{{ site.badges.tryhackme }}.png" width="329" height="88" loading="lazy" decoding="async" alt="My TryHackMe profile badge" class="no-responsive">
        </a>
      {% endif %}
    </li>
  {% endif %}
</ul>

