<ul>
  {% if site.social.hackthebox %}
    <li class="social-media-list">
      <!-- Self-hosting HTB badge image for now to increase the viewer's privacy by not using bot protection cookie -->
      <a title="Hack The Box Profile" href="https://app.hackthebox.com/profile/{{ site.social.hackthebox }}">{% smart_image /assets/768488.png 220 50 "Hack The Box Profile" lazy "" avif async "no-responsive" %}</a>
      <!--<a title="Hack The Box Profile" href="https://app.hackthebox.com/profile/{{ site.social.hackthebox }}"><img src="https://www.hackthebox.eu/badge/image/{{ site.social.hackthebox }}" width="220" height="50" loading="lazy" decoding="async" alt="Hack The Box" class="no-responsive"></a>-->
    </li>
  {% endif %}

  {% if site.social.tryhackme %}
    <li class="social-media-list">
      <a title="TryHackMe Profile" href="https://tryhackme.com/p/{{ site.social.tryhackme }}"><img src="https://tryhackme-badges.s3.amazonaws.com/{{ site.social.tryhackme }}.png" width="329" height="88" loading="lazy" decoding="async" alt="TryHackMe Profile" class="no-responsive" ></a>
    </li>
  {% endif %}
</ul>

