<footer class="site-footer">
  <div class="row">
    <div class="footer-wrapper">
      <div class="footer-col-social col-4 col-s-3">
        {% include social.html %}
      </div>
      <div class="footer-col-badges col-4 col-s-7">
        {% include badges.html %}
      </div>
      <div class="footer-col-copyright col-10 col-s-10 tiny-footer">
        <span>
          favicon by <a href="https://www.flaticon.com/authors/juicy-fish" rel="nofollow">juicy-fish</a> from <a href="https://www.flaticon.com" rel="nofollow">Flaticon</a>
        </span>
        <br>
        <span>
          Templates & code: <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> | Posts, Articles & Tutorials: <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        </span>
        <br>
        <span>
          Third-party resources retain their licenses
        </span>
        <br>
        <span>
          <b>{{ site.owner}}</b> © {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}{{ currentyear }}
        </span>
      </div>
    </div>
  </div>
</footer>
