<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}" class="button">About</a>
<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}" class="button">All</a>
<a href="{{ "/blog/" | prepend: site.baseurl | replace: '//', '/' }}" class="button">Blog</a>
<a href="{{ "/books/" | prepend: site.baseurl | replace: '//', '/' }}" class="button">Books</a>
<a href="{{ "/links/" | prepend: site.baseurl | replace: '//', '/' }}" class="button">Links</a>
<a href="{{ "/tags/" | prepend: site.baseurl | replace: '//', '/' }}" class="button">Tags</a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}" class="button">Contact</a>
<a href="{{ "/kevin-mitnick" | prepend: site.baseurl | replace: '//', '/' }}" title="RIP Kevin Mitnick" class="button">🖤</a>

<!--<a href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>-->
