---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <div class="postitem">
    {% for cat in page.categories %}
      <a href="/{{ cat | xml_escape | downcase }}/" class="no-decoration"><code class="language-plaintext highlighter-rouge">{{ cat | xml_escape }}</code></a>
    {% endfor %}
    {% for tag in page.tags %}
      <code class="posttag"><a href="/tags/#{{ tag | replace: " " , "-" | downcase }}" class="no-decoration">{{ tag | xml_escape }}</a></code>
    {% endfor %}
  </div>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">Published: {{ page.date | date_to_string }}</time>
  {% if page.updated %}<time datetime="{{ page.updated | date_to_xmlschema }}" class="by-line">&nbsp;&nbsp;Updated: {{ page.updated | date_to_string }}</time>{% endif %}
  {{ content }}
</article>
